.index-container {
    background: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #fff;
  }

  .index-container .header, 
  .index-container .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .index-container .header {
    max-width: 70vw;
    min-width: 960px;
    width: 100vw;
    /* padding: 0 40px; */
    height: 8vh;
    margin: 0 auto;
    z-index: 1000;
  } 

  :not(input) :not(textarea) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  .index-container .header .logo {
    display: block;
    width: 170px;
    height: 20.88px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .index-container .header .nav .nav-item.active {
    font-family: SourceHanSansCN-Medium;
    font-weight: 700;
  }
  
  .index-container .header .nav .nav-item {
      font-family: SourceHanSansCN-Light;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
      color: #fff;
      margin-left: 68px;
  }

  .main {
      height: 92vh;
      position: relative;
  }

  .index-container .section-wrapper {
    position: relative;
    width: 300%;
    /* width: 100%; */
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

  .index-container .section-container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    height: 100%;
  }

  .index-container .animation-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .index-container .open {
    position: relative;
  }

  .index-container section {
    height: 100%;
  }

  .section-slide {
    width: 100vw;
    height: 100%;

    transition: margin-left 1.2s;
  }

  .second-page-class {
    overflow: hidden;
  }

  .box-3d {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -8vh;
    perspective: 600px;   /** 视距，查看的位置 */
    transform-style: preserve-3d;   /** 动画模式，开启 3d 模式 */
  }

  .box-3d .words {
    position: absolute;
    z-index: 999;
    /* transform-origin: bottom;    */
  }

  .box-3d .words .title {
      font-family: AkzidenzGrotesk-Medium;
      font-weight: 500;
      font-size: 72px;
      line-height: 72px;
      text-align: center;
      transition: all .1s;
  }

  .box-3d .words .eye {
    font-family: SourceHanSansCN-Normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 20px;
  }

  @media screen and (min-height: 900px)  {
    .box-3d .words .title {
      font-size: 95px !important;
      line-height: 97px !important;
    }

    .box-3d .words .eye {
      font-size: 25px !important;
      line-height: 37px !important;
    }
  }

  @media screen and (min-height: 800px) {
    .box-3d .words .title {
      font-size: 84px !important;
      line-height: 90px !important;
    }

    .box-3d .words .eye {
      font-size: 25px !important;
      line-height: 37px !important;
    }
  }

  /* three 相关样式内容 */
  .box-3d .three {
    position: absolute;
    width: 100vw;
    z-index: 99;
  }

  .download {
    z-index: 300;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .btn-box {
    position: relative;
    display: inline-block;
  }

  /** 设置 hover 样式,调整背景颜色和图片显示 */
  .btn-box:hover .btn {
    background: hsla(0, 0%, 100%, .2);
    opacity: 1;
  }

  .btn-box:hover .img-code {
    display: block;
  }

  .img-code {
    display: none;
  }

  .index-container .download .btn {
    display: inline-block;
    font-family: SourceHanSansCN-Normal;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 0;
    text-align: center;
    border: .83735px solid hsla(0, 0%, 100%, .57);
    box-sizing: border-box;
    width: 100px;
    height: 34px;
    border-radius: 34px;  
    transition: background .3s;
    opacity: .6;
  }

  .index-container .download img {
    width: 100px;
    height: 100px;
  }

  .index-container .download .android-code, 
  .index-container .download .ios-code {
    position: absolute;
    left: 0;
    top: -120px;
}

  .index-container .download .btn.ios {
    margin-right: 26px;
  }

  .hide {
    display: none;
  }

  .testVideo {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  /* 设置当前是 active 的时候透明度设置成 1 */
  .chosen-video.active {
    opacity: 1;
  }

  .chosen-video {
    position: relative;
    margin-left: 15vw;
    margin-right: 200px;
    height: 100%;
    max-height: 810px;
    opacity: 0;   /* 默认透明度设置为 0 */
    transition-duration: .3s;
    /* transition-delay: .3s; */
  }

  .chosen-video .header {
    position: absolute;
    left: 0;
    top: 140px;
  }

  .chosen-video .header .title {
    font-family: SourceHanSansCN-Normal;
    font-size: 26px;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    z-index: 150;
  }

  .chosen-video .header .desc {
    font-family: SourceHanSansCN-Light;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1.3966px;
    margin-top: 10px;
  }

  .move-page-index {
    /* transform: translateX(-100vw); */
    margin-left: -100vw;
  }

  .header-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .chosen-video .content {
    height: 100%;
    margin: 240px 0 0;
    position: relative;
  }

  .chosen-video .content ul {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
  }

  .chosen-video .content ul .video-item.active {
    opacity: 1;
    z-index: 100;
  }

  .chosen-video .content ul .video-item {
    /* opacity: 0; */
    width: 353px;
    margin-right: 65px;
    transition-duration: 1s;
  }

  .chosen-video .content ul .video-item:last-child {
    margin-right: 0;
  }

  .chosen-video .content ul .video-item .video-box {
    display: block;
    width: 100%;
    height: 202px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .video-hover {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .video-hover .cover {
    height: 100%;
    width: 100%;
    transition: all .3s;
    opacity: 1;
    display: block;
  }

  .video-hover:hover .cover {
    opacity: 0;
  }

  .chosen-video .content ul .video-item p {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: SourceHanSansCN-Normal;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 1.3966px;
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .chosen-video .content ul .video-item .line {
    width: 100%;
    height: .5px;
    background: hsla(0,0%,100%,.5);
  }

  .preview {
    /* width: 353px;
    height: 202px; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    object-fit: cover;
    transition: opacity, .3s;
    /* transition-delay: .3s; */
    /* display: none; */
    opacity: 0;
  }

  .video-hover:hover .preview {
    /* display: block; */
    opacity: 1;
  }

  .chosen-video .content ul .video-item:nth-child(2n) {
    margin-top: 80px;
  }

  .chosen-video .content ul .video-item.appearTogether {
    transition-duration: .8s!important;
    transition-delay: 0s!important;
  }

  .chosen-video .nav {
    position: absolute;
    left: 0;
    top: 630px;
    z-index: 50;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    max-width: 1440px;
    min-width: 600px;
  }

  .chosen-video .nav ul {
    display: flex;
  }

  .chosen-video .nav .nav-item {
    font-family: SourceHanSansCN-Light;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.3966px;
    cursor: pointer;
    position: relative;
  }

  .chosen-video .nav ul li {
      margin-right: 43px;
  }

  .chosen-video .nav .scroll {
    width: 122.7px;
    height: 36.66px;
  }
  
  img {
    border-style: none;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .transition-class {
    transition: all .3s;
  }


  .desc-container .content {
    position: relative;
    max-height: 810px;
    height: 100%;
    width: 3730px;
  }

  .desc-container .content .publish {
      left: 266px;
      bottom: 150px;
      transition: all .3s;
  }

  .desc-container .content .publish .img-1 {
    width: 218px;
    height: 474px;
  }

  .desc-container .content .live .live-img {
    width: 218px;
    height: 473.34px;
  }

  .desc-container .content .publish .logo {
    position: absolute;
    left: 125px;
    top: -95px;
    z-index: -1;
    width: 182.71px;
    height: 182.71px;
    transition: transform .3s;
  }

  .desc-container .content .publish .desc {
    margin-left: 97px;
    margin-top: 130px;
    text-align: left;
  }

  .desc-container .content .title {
    font-family: SourceHanSansCN-Regular;
    font-weight: 700;
    font-size: 26.0065px;
    line-height: 39px;
    letter-spacing: 1.48608px;
}

  .desc-container .content .publish .desc .detail {
    margin-top: 38px;
  }

  .desc-container .content .detail {
    font-family: SourceHanSansCN-Light;
    font-size: 14px;
    line-height: 167.8%;
    letter-spacing: 1.38949px;
  }

  .desc-container .content .live {
    left: 1390px;
    bottom: 150px;
    display: flex;
  }

  .desc-container .content .item-box {
    position: absolute;
    z-index: 20;
    display: flex;
  }

  .desc-container .content .live .desc {
    margin-left: 74px;
    margin-top: 150px;
  }

  .desc-container .content .live .desc .detail {
    margin-top: 30px;
    width: 262px;
  }

  .desc-container .content .detail {
      font-family: SourceHanSansCN-Light;
      font-size: 14px;
      line-height: 167.8%;
      letter-spacing: 1.38949px;
  }

  .desc-container .content .brand {
    left: 2525px;
    bottom: 150px;
  }

  .desc-container .content .brand .logo {
    position: absolute;
    z-index: -1;
    left: -100px;
    top: -100px;
    width: 182.71px;
    height: 182.71px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .3s;
  }

  .desc-container .content .brand .brand-1 {
    width: 218px;
    height: 472px;
  }

  .desc-container .content .brand .desc {
    margin-top: 150px;
    margin-left: 70px;
  }

  .desc-container .content .title {
    font-family: SourceHanSansCN-Regular;
    font-weight: 700;
    font-size: 26.0065px;
    line-height: 39px;
    letter-spacing: 1.48608px;
  }

  .desc-container .content .brand .desc .detail {
    margin-top: 32px;
    width: 262px;
  }

  .desc-container .content .detail {
      font-family: SourceHanSansCN-Light;
      font-size: 14px;
      line-height: 167.8%;
      letter-spacing: 1.38949px;
  }

  .desc-container .content .link {
    display: block;
    margin-top: 25px;
    font-family: SourceHanSansCN-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.38701px;
    display: flex;
    align-items: center;
  }

  .desc-container .first-floor {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
  }

  .desc-container .text.text1 {
    position: absolute;
    bottom: 100px;
    left: 0;
  }

  .desc-container .text.text2 {
    position: absolute;
    bottom: 0;
    left: 1500px;
  }

  .desc-container .text {
    display: inline-block;
    font-family: AkzidenzGrotesk-Medium;
    font-style: normal;
    font-weight: 700;
    font-size: 193.191px;
    line-height: 223px;
    color: #000;
    white-space: nowrap;
    -webkit-text-shadow: #a7a7a7 1px 0 0,#a7a7a7 0 1px 0,#a7a7a7 -1px 0 0,#a7a7a7 0 -1px 0;
    -moz-text-shadow: #a7a7a7 1px 0 0,#a7a7a7 0 1px 0,#a7a7a7 -1px 0 0,#a7a7a7 0 -1px 0;
    text-shadow: #a7a7a7 1px 0 0, #a7a7a7 0 1px 0, #a7a7a7 -1px 0 0, #a7a7a7 0 -1px 0;
    *filter: Glow(Color=#A7A7A7,Strength=1);
  }

  .desc-container .footer {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: SourceHanSansCN-Light;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 1.399999976158142px;
    text-align: right;
    vertical-align: center;
    color: hsla(0,0%,100%,.6);
  }

  .footer a {
    letter-spacing: 1.4px;
    color: inherit;
  }

  .footer, .footer a {
    font-size: 11px;
    line-height: 22px;
    text-align: right;
  }

  .footer .wangan i {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: center;
    background: url(https://static-thefair-bj.oss-cn-beijing.aliyuncs.com/eyepetizer/web/index/%E4%BD%8D%E5%9B%BE.png) 50% no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
  }

  .desc-container {
    margin-right: 40px;
    height: 100%;
    /* opacity: 0; */
    display: flex;
    align-items: center;
    position: relative;
  }

  .publish:hover .logo {
    transform: rotate(-30deg);
  }

  .brand:hover .logo {
    transform: rotate(-30deg);
  }

  .video-type-nav ul li::marker {
    color: transparent;
    transition: color .2s;
    transition-delay: .06s;
  }

  .video-type-nav .active::marker {
    color: white;
  }